<div class="text-center">
  <img
    src="https://static.wixstatic.com/media/5aea76_692784dabada48309f63758bf5528a49~mv2.jpg/v1/crop/x_0,y_188,w_2000,h_1624/fill/w_523,h_425,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/portada2.jpg"
    class="rounded"
    alt="img"
    height="440"
  />
</div>
<div
  class="text-center position-relative top-0 start-50 translate-middle-x"
  style="width: 530px; "
>
  <p class="fw-bold fs-6">
    Somos una empresa familiar 100% sancarleña, operando desde 1999. Nos hemos
    destacado por ser una empresa sumamente atenta con nuestros clientes,
    convirtiéndonos en una de las empresas más importante de Costa Rica,
    marcando la pauta en el comercio nacional y ganándose la confianza de la
    población.
  </p>
  <p class="fw-bold fs-6">
    En "Todo para tu hogar" ofrecemos artículos de una amplia variedad para tu
    hogar, artículos de alta calidad, con un precio accesible.
  </p>
</div>
