<div style="height: 170px; width:100%" class="position-relative">
  <div
    style="position:absolute; bottom:3px; left:10px; height:40px; width:7px; background-color:#8D5341;"
  ></div>

  <div
    style="position:absolute; bottom:3px; right:10px; height:40px; width:7px; background-color:#8D5341;"
  ></div>

  <div
    style="position:absolute; top:60px; left:10px; height:7px; width:50%; background-color:#8D5341; transform:rotate(-7deg)"
  ></div>

  <div
    style="position:absolute; top:60px; right:10px; height:7px; width:50%; background-color:#8D5341; transform:rotate(7deg)"
  ></div>

  <div class="position-absolute start-50 translate-middle" style="bottom:-12px">
    <img
      src="https://images.vexels.com/media/users/3/157257/isolated/lists/d3bd73477873ff05a127e686ee688f65-icono-de-casa-blanco-y-negro.png"
      class="rounded"
      alt="logo"
      height="100"
    />
  </div>

  <div
    class="position-absolute start-50 translate-middle"
    style="bottom: -55px"
  >
    <p class="fst-italic fw-bold text-decoration-underline fs-1">
      Todo para tu hogar
    </p>
  </div>
</div>

<app-tabs></app-tabs>

<div
  style="height: 1px; width: 98% ; background-color: black; margin-left: 1%"
></div>

<div style="height: 10px; width: 100% ; background-color: white"></div>

<router-outlet></router-outlet>

<div style="background-color:#8D5341" class="d-flex flex-column">
  <footer style="color: #FFFFFF" id="sticky-footer">
    <div class="container text-center">
      <p class="fw-bold fs-6">
        Copyright &copy; 2022
        <br />
        Todos los derechos reservados
      </p>
    </div>
  </footer>
</div>
